.orders_actionBarItemStyle {
    padding: 10px;
    flex-basis: auto;
}

.orders_actionBarContainerStyle {
    display: flex;
}

.orders_loadingContainerStyle {
    display: flex;
    justify-content: center;
}
