.orders_actionBarItemStyle {
  padding: 10px;
  flex-basis: auto; }

.orders_actionBarContainerStyle {
  display: flex; }

.orders_loadingContainerStyle {
  display: flex;
  justify-content: center; }

.orders_loadingTextStyle {
  position: relative;
  top: 45px;
  left: -65px;
  font-size: 20px;
  color: #5E6B4E; }

.orders_loadingTDStyle {
  column-span: all;
  height: 100px; }
