.supplierView_actionBarItemStyle {
  padding: 10px;
  flex-basis: auto; }

.supplierView_actionBarContainerStyle {
  display: flex; }

.supplierView_loadingContainerStyle {
  display: flex;
  justify-content: center; }

.supplierView_loadingTextStyle {
  position: relative;
  top: 45px;
  left: -65px;
  font-size: 20px;
  color: #5E6B4E; }

.supplierView_loadingTDStyle {
  column-span: all;
  height: 100px; }

.supplierView_errorTextStyle {
  position: relative;
  top: 80px;
  left: -125px;
  font-size: 20px;
  color: #5E6B4E; }
