$lightGrayBorder: #E9E9E9;
$primaryColor: #5E6B4E;
$primaryTextColor: #58684c;
$whiteColor: #FEFEFE;
$darkTextStyle: #303a29;
$whiteColor: #FEFEFE;

$green: #35B14A;
$blue: #0057e7;
$red: #d81f0f;
$yellow: #ffa700;
$pink: #ea90f4;
