@import '../../styles/variables.scss';

.companyTitleStyle {
    color: $whiteColor;
    font-size: 30px;
    padding-left: 15px;
    line-height: 80px;
}

.titleStyle {
 color: $whiteColor;
}

.accountOptionButtonStyle {
        margin-right: 15px;
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 0px;
        float: right;
}

.logoutTextStyle {
    padding-left: 15px;
    color: $darkTextStyle !important;
    font-size: 16px;
    vertical-align: super !important;
}
.logoutTextStyle:hover {
    text-decoration: none !important;
}

.headerView_headerStyle {
    height: 80px;
    width: 100%;
    background: $primaryColor;
}
