@import '../../styles/variables.scss';

.loginView_loginSectionStyle {
    background-color: #303a29;
    border: 10px solid #303a29;
    border-radius: 15px;
}

.formItemVerticalStyle {
    margin-bottom: 20px;
}

.formItemHorizontalStyle {
    margin-right: 15px;
}

.sectionHeadingStyle {
    font-size: 26px;
    color: $whiteColor;
}


.loginView_shadow {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    -moz-box-shadow:    inset 0 0 20px #303a29;
    -webkit-box-shadow: inset 0 0 20px #303a29;
    box-shadow:         inset 0 0 20px #303a29;
    border-bottom: 1px solid #7c8472;
    border-top: 1px solid #303a29;

    margin-top: 50px;
    //margin-bottom: 80px;
    margin-left: 20px;
}

.loginView_line {
    height: 100px;
    width: 2px;
    margin-left: 80px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c8472+0,5e6b4e+43,5e6b4e+78,303a29+100 */
background: rgb(124,132,114); /* Old browsers */
background: -moz-linear-gradient(top, rgba(124,132,114,1) 0%, rgba(94,107,78,1) 43%, rgba(94,107,78,1) 78%, rgba(48,58,41,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(124,132,114,1) 0%,rgba(94,107,78,1) 43%,rgba(94,107,78,1) 78%,rgba(48,58,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(124,132,114,1) 0%,rgba(94,107,78,1) 43%,rgba(94,107,78,1) 78%,rgba(48,58,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c8472', endColorstr='#303a29',GradientType=0 ); /* IE6-9 */
}

.loginView_flameContent {
    position: relative;
    left: 20px;
    top: 15px;
}

@media only screen and (max-width: 500px) {
    .loginView_loginSectionStyle {
        background-color: #303a29;
        border: 10px solid #303a29;
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
